<!DOCTYPE html>
<html>
<head>
  <title>AdvocateDiary</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
 <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>
